1) The system should suppor the booking of different room types like standard, delux etc
2) Guests should be able to search the room inventory and book any available room.
3) The system should be able to retrieve information, such as who booked a particular room, or what rooms were booked by a specific customer.
4) The system should allow customer to cancel their booking and provide them with a full refund if the cancellation occurs before 24 hours of the check-in date.
5) The sytem should be able to send notifications whenever the booking is nearing the check-in or check-out date.
6) The system should maintain a room housekeeping logs to keep track of all house keeping tasks.
7) Any cusomter should be able to add room services and food items.
8) The customers should be able to pay their bills through credit card, check or cash.
9) Admin should be able to add delete and edit a room.
10) Receptionist should be able to check in /check out a guest. 


Actors
1) Customer
2) Receptionist
3) Admin
4) Server
5) HouseKeeping

Use Cases
1) Add/Remove/Edit Rooms
2) Search Room
3) Book room
4) Cancel room
5) Check-in
6) Check-out
7) Add room charge
8) Update house keeping log
